#linkProfile{
    min-height: 85.3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#linkProfile .favoritar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 2rem;
}
#linkProfile .favoritar button{
    background: none;
}
#linkProfile .favoritar button:hover,#linkProfile .favoritar a:hover{
    border-radius: 1rem;
    filter: brightness(70%);
}
#linkProfile h1{
    font-size: 4.2rem;
    padding: 0 0 3rem 0;
}
#linkProfile .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
#linkProfile .foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 6rem;
}
#linkProfile .foto .estrelas{
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 90%;
}
#linkProfile .foto .estrelas button{
    background: none;
}
#linkProfile .foto .estrelas button:hover{
    filter: brightness(70%);
}
#linkProfile .container .foto .fotoLink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32rem;
    width: 24rem;
}
#linkProfile .foto img{
    max-width:  99%;
    max-height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--amarelo) solid 1px;
}
#linkProfile .infos{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 32rem;
    max-width: 45rem;

}
#linkProfile .infos>div{
    display: flex;
}
#linkProfile .infos .botoes{
    justify-content: space-between;
    width: 41rem;
    height: 32%;
    padding-bottom: 1rem;
}
#linkProfile .infos .botoes a{
    border:var(--amarelo) solid 2px;
    height: 100%;
}
#linkProfile .infos .botao1:hover{
    border:white solid 2px;
}
#linkProfile .infos .botao1{
    background-color: var(--amarelo);
    color:var(--cinza-escuro);
    display: flex;
    border-radius: 10px;
    width: 18.5rem;
    height: 100%;
    padding: 1.5rem;
    font-size: 3.2rem;
    justify-content: space-around;
    align-items: center;
}
#linkProfile .infos .botao1:active{
    filter:brightness(.7);
}
#linkProfile .infos .usuario{
    align-items: center;
    display: flex;
    flex-direction: row;
} 
#linkProfile .infos .usuario:hover{
    filter: brightness(70%);
} 
#linkProfile .infos .fotoUser{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-right: 1.5rem;
} 
#linkProfile .infos .fotoNull{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-right: 1.5rem;
    background-color: var(--rosa);
}
#linkProfile .descricao{
    background-color: rgba(var(--cinza-claro-opacity),0.05);
    width: 58%;
    height: auto;
    margin: 1rem 0 3rem 0;
    padding: 1rem;
    color: var(--cinza-claro);
    font: 400 1.8rem Roboto, sans-serif;
    text-align: justify;
}
#linkProfile .tagsContainer{
    background-color: rgba(var(--cinza-claro-opacity),0.05);
    width: 58%;
    height: auto;
    margin-bottom: 3rem;
    margin-bottom: 3.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
#linkProfile .tagsContainer>div{
    height: 4rem;
    background-color: var(--amarelo);
    border:var(--amarelo) solid 1px;
    display: flex;
    width: min-content;
    border-radius: 2rem;
    padding:0.5rem 1rem;
    align-items: center;
    margin: 0.5rem;
    height: max-content;
}
#linkProfile h4{
    color: var(--cinza-claro);
    font: 400 2rem Roboto, sans-serif;
    text-align: center;
}
#linkProfile .botoesConf{
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding-top: 3rem;
}
#linkProfile .confirmacao{
    align-items: center;
    height:4.5rem;
    width: 7.5rem;
    font-size: 2rem;
}