#timeLine{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#timeLine .container{
    min-height: 85.3vh;
    width:100% ;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50rem);
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-top: 2rem;

}
#timeLine .container .link{
    border:var(--amarelo) solid 2px;
    height:30rem;
    width: 50rem;
    display: flex;
    background-color: rgba(var(--cinza-claro-opacity),0.12);

}
#timeLine .container .link .containerImagem{
    min-height: 100%;
    min-width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#timeLine .container .link .containerImagem:hover,#timeLine .tagLink:hover,
#timeLine .container .link .infoLink .containerInfo .estrelas:hover{
    filter:brightness(0.7);
}
#timeLine .container .link .containerImagem img{
    max-height: 99%;
    max-width: 20rem;
}
#timeLine .container .link .infoLink{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding:1rem;
}
#timeLine .container .link .infoLink .estrelas{
    display: flex;
    padding:1rem;
    background: none;
    align-items: center;
}
#timeLine .container .link .infoLink .estrelas h2{
    padding-left:1rem;
}
#timeLine .container .link .infoLink h2{
    font-size: 2rem;
    color:var(--amarelo);
    word-wrap: break-all; 
}
#timeLine .container .link .infoLink .fotoUser{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
} 
#timeLine .container .link .infoLink .fotoNull{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    background-color: var(--rosa);
}
#timeLine .container .link .infoLink .containerUsuario{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#timeLine .verMais{
    padding:3rem 0;
}