.link{
    background-color: rgba(var(--cinza-claro-opacity),.25);
    margin:1rem;
    display: flex;
    justify-content: center;
    min-height: 30rem;
    width: 18rem;
}
.link>a{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.link .fotoContainer{
    min-height: 20rem;
    width: 15rem;
    margin-top:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link .fotoLink{
    max-height: 20rem;
    max-width: 15rem;
}
.link .semFoto{
    background-color: rgb(255, 138, 138);
    height: 20rem;
    width: 15rem;
}
.link .infos{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.link .infos h4{
    text-align: center;
}