.cabecalho{
    z-index: 2;
    background-color: var(--cinza-escuro);
    position: relative;
    top:0;
    width: 100%;
    height: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho>div{
    margin-left: 1rem;
    width: 17rem;
    display: flex;
    justify-content: space-between;
}
.cabecalho>a{
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    
}
.cabecalho>a>img{
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
}
.cabecalho>a .fotoN{
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--rosa);
}
.cabecalho>a>h4{
    padding-right:1rem;
}