#search{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85.3vh;

}
#search .busca{
    display: flex;
    align-items: center;
    width: 50%;
    font: 400 1.8rem Roboto,sans-serif;
    background-color: var(--cinza-claro);
    border-radius: 5px;
    border:none;
    height: 4rem;
    color:var(--cinza-escuro);
    padding-right: 1rem;
    margin: 5rem;
}
#search .busca .campoBuscar input{
    height: 3.5rem;
    padding-left: 1rem;
}
#search .busca .buscar{
    width: 100%;
    display: flex;
    align-items: center;
}
#search .busca form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
}
#search .busca form button{
    background: none;
}
#search .busca select{
    font: 400 1.8rem Roboto,sans-serif;
    background-color: var(--cinza-claro);
    border:none;
    width: 40%;
    border-left: var(--cinza-medio) solid 1px;
}
#search .busca option{
    font: 400 1.8rem Roboto,sans-serif;
    border-radius: 5px;
}
#search .container{
    width:100% ;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-top: 2rem;

}