#inputFoto{
    height: 20rem;
    width: auto;
}
#inputFoto>input{
    display: none;
}
#inputFoto>label{
    cursor: pointer;
}
#inputFoto>label>div{
    height: 15rem;
    width: 15rem;
    border:var(--amarelo) solid 2px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--cinza-claro-opacity), 0.12);
}
#inputFoto .fotoPerfil{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    
}
#inputFoto .fotoPerfil img{
    height: 100% ;
    width: 100%;
    border-radius: 100%;
}
